name: nutri_guide
description: Daily Nutrition Guidance, Kitchen Inventory & Smart Meal Planning
publish_to: 'none'
version: 1.0.0+1

environment:
  sdk: ^3.5.0
  flutter: ">=3.24.0"

dependencies:
  flutter:
    sdk: flutter
  flutter_localizations:
    sdk: flutter
  flutter_riverpod: ^2.6.1
  hive_flutter: ^1.1.0
  intl: 0.20.2
  uuid: ^4.5.1
  provider: ^6.1.2
  shared_preferences: ^2.3.4
  http: ^1.2.2
  fl_chart: ^0.69.2

dev_dependencies:
  flutter_test:
    sdk: flutter
  flutter_lints: ^5.0.0

flutter:
  uses-material-design: true
  generate: true
